<nav class="bg-gray-800 mb-8">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="navbar-header">
      <div class="navbar-brand text-white">
        Recipe Book</div>
    </div>

    <div class="collapse navbar-collapse" *ngIf="isAuthenticated">
      <ul class="nav navbar-nav">
        <li class="activeTab text-gray-300 hover:text-white rounded-md" routerLinkActive="active"><a
            routerLink="/recipes">Recipes</a>
        </li>
        <li class="activeTab text-gray-300 hover:text-white rounded-md" routerLinkActive="active"><a
            routerLink="/shopping-list">Shopping
            List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="onLogout()" class="dropdown-toggle text-gray-300 hover:text-white rounded-md"
            role="button">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>