<nav class="navbar navbar-default shadow-md bg-red-900">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" style="color: white;">Recipe Book</div>
    </div>

    <div class="collapse navbar-collapse" *ngIf="isAuthenticated">
      <ul class="nav navbar-nav">
        <li class="activeTab" routerLinkActive="active"><a routerLink="/recipes" style="color: white;">Recipes</a></li>
        <li class="activeTab" routerLinkActive="active"><a routerLink="/shopping-list" style="color: white;">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="onLogout()" class="dropdown-toggle" role="button" style="color: white;">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
