<div class="row">
  <app-modal (save)="onDeleteRecipe()" [title]="title" (close)="cancelChanges()" *ngIf="isVisible">
    <p>Want to delete this?</p>
  </app-modal>
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive rounded-md" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 my-2">
    <h1 class="font-bold">{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 my-2">
    <div class="btn-group" appDropdown>
      <button type="button"
        class="bg-blue-500 font-bold text-white hover:bg-blue-600 hover:text-white btn dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="addToShoppingList(recipe)"> To Shopping List</a></li>
        <li><a (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a></li>
        <li><a (click)="deleteRecipe()" style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} -
        {{ingredient.amount}}</li>
    </ul>
  </div>
</div>